div.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-height: 150%;
	min-width: 100%;
	overflow: hidden;
	background-color: #000;
	opacity: 0;
	z-index: -100;
	-webkit-transition: 600ms opacity;
	transition: 600ms opacity;
}

div.backdrop.on {
	opacity: 0.5;
	z-index: 900;
}