.left-nav {
	position: fixed;
	z-index: 1000;
	top: 50px;
	right: 0;
	bottom: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	-webkit-transition: left 600ms;
	transition: left 600ms;
	background-color: white;
}

@media (min-width: 768px) {
	.left-nav {
		width: 45%;
	}
}

@media (min-width: 992px) {
	.left-nav {
		width: 25%;
	}
}


.left-nav.open {
	left: 0;
}

.left-nav ul {
	list-style: none;
	padding: 15px 0 0 30px;
}

.left-nav a {
	font-size: 20px;
}